<%= form_for(@payoff) do |f| %>
  <% if @payoff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payoff.errors.count, "error") %> prohibited this payoff from being saved:</h2>

      <ul>
      <% @payoff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :payoff %><br>
    <%= f.text_field :payoff %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
