<h1>Listing payoffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Payoff</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payoffs.each do |payoff| %>
      <tr>
        <td><%= payoff.name %></td>
        <td><%= payoff.url %></td>
        <td><%= payoff.payoff %></td>
        <td><%= payoff.project %></td>
        <td><%= link_to 'Show', payoff %></td>
        <td><%= link_to 'Edit', edit_payoff_path(payoff) %></td>
        <td><%= link_to 'Destroy', payoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payoff', new_payoff_path %>
